<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sais.saismapper.AtMapper">

    <resultMap id="BaseResultMap" type="com.sais.saisentity.At">
        <result column="id" jdbcType="INTEGER" property="id" />
        <result column="user_id" jdbcType="INTEGER" property="user_id" />
        <result column="post_id" jdbcType="INTEGER" property="post_id" />
    </resultMap>

    <insert id="insertAt">
        insert into sais_at (user_id, post_id) values (#{user_id},#{post_id})
    </insert>
</mapper>