<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sais.saismapper.FriendMapper">

    <resultMap id="BaseResultMap" type="com.sais.saisentity.Friend">
        <result column="id" jdbcType="INTEGER" property="id" />
        <result column="user_id" jdbcType="INTEGER" property="user_id" />
        <result column="friend_id" jdbcType="INTEGER" property="friend_id" />
        <result column="status" jdbcType="INTEGER" property="status" />
        <result column="addtime" jdbcType="DATE" property="addtime" />
    </resultMap>

    <select id="selectFriend" resultType="com.sais.saisentity.Friend">
        select * from sais_friends where user_id=#{user_id} and friend_id=#{friend_id} limit 1
    </select>

    <insert id="insertFriend">
        insert into sais_friends (user_id, friend_id,status,addtime) values (#{user_id},#{friend_id},#{status},#{addtime})
    </insert>

    <update id="updateFriend">
        update sais_friends set status= #{status} , addtime=#{addtime} where id=#{id}
    </update>

    <select id="selectFriendStatus" resultType="INTEGER">
        select status from sais_friends where user_id=#{user_id} and friend_id=#{friend_id}
    </select>

    <select id="selectMyFriends" resultType="com.sais.saisentity.Friend">
        select * from sais_friends where user_id=#{user_id} and status = 1 order by addtime desc
    </select>

    <select id="selectMyFriendsNum" resultType="INTEGER">
        select count(*) from sais_friends where user_id=#{user_id} and status = 1
    </select>

    <select id="selectMyFans" resultType="com.sais.saisentity.Friend">
        select * from sais_friends where friend_id = #{friend_id} and status = 1 order by addtime desc
    </select>

    <select id="selectMyFansNum" resultType="INTEGER">
        select count(*) from sais_friends where friend_id=#{friend_id} and status = 1
    </select>
</mapper>
