<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sais.saismapper.SlideMapper">

    <resultMap id="BaseResultMap" type="com.sais.saisentity.Slide">
        <result column="id" jdbcType="INTEGER" property="id" />
        <result column="college_e_name" jdbcType="VARCHAR" property="college_e_name" />
        <result column="picture" jdbcType="VARCHAR" property="picture" />
    </resultMap>

    <select id="selectId" resultType="com.sais.saisentity.Slide">
        select * from sais_slide where id = #{id}
    </select>

    <delete id="delete">
        delete from sais_slide where id = #{id}
    </delete>

    <delete id="delAll" parameterType="java.util.ArrayList">
        delete from sais_slide where id in
        <foreach item="id" collection="list" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

    <select id="lists" resultType="com.sais.saisentity.Slide">
        select * from sais_slide
    </select>

    <select id="listsLike" resultType="com.sais.saisentity.Slide">
        select id,college_e_name,picture from sais_slide where college_e_name like CONCAT('%',#{keyword},'%') order by id asc
    </select>

    <update id="updatePicture" >
        update sais_slide set picture = #{picture} where college_e_name = #{college_e_name}
    </update>

    <insert id="addSlide" >
        insert into sais_slide (college_e_name, picture) values (#{college_e_name},#{picture})
    </insert>

    <select id="selectQs" resultType="com.sais.saisentity.Slide">
        select college.id,college.college_name,college.introduce,slide.picture
        FROM sais_college AS college,sais_slide AS slide
        WHERE slide.college_e_name=college.college_e_name and college.qs_rank = #{qs} limit 1
    </select>

    <select id="selectSlideFromCollegeEName" resultType="string">
        select picture FROM sais_slide WHERE college_e_name = #{college_e_name}
    </select>
</mapper>
