<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sais.saismapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.sais.saisentity.User">
        <result column="id" jdbcType="INTEGER" property="id" />
        <result column="account" jdbcType="VARCHAR" property="account" />
        <result column="password" jdbcType="VARCHAR" property="password" />
        <result column="nickname" jdbcType="VARCHAR" property="nickname" />
        <result column="loginip" jdbcType="VARCHAR" property="loginip" />
        <result column="logintime" jdbcType="DATE" property="logintime" />
        <result column="addtime" jdbcType="DATE" property="addtime" />
        <result column="comment" jdbcType="TINYINT" property="comment" />
        <result column="sex" jdbcType="TINYINT" property="sex" />
        <result column="qq" jdbcType="VARCHAR" property="qq" />
        <result column="avatar" jdbcType="VARCHAR" property="avatar" />
        <result column="posts_num" jdbcType="INTEGER" property="posts_num" />
        <result column="follows_num" jdbcType="INTEGER" property="follows_num" />
        <result column="fans_num" jdbcType="INTEGER" property="fans_num" />
        <result column="phone" jdbcType="VARCHAR" property="phone" />
        <result column="gpa" jdbcType="FLOAT" property="gpa" />
        <result column="sat" jdbcType="INTEGER" property="sat" />
        <result column="ielts" jdbcType="FLOAT" property="ielts" />
        <result column="toefl" jdbcType="FLOAT" property="toefl" />
    </resultMap>

    <select id="selectId" resultType="com.sais.saisentity.User">
        select * from sais_user where id = #{id}
    </select>

    <select id="selectAccount" resultType="com.sais.saisentity.User">
        select * from sais_user where account = #{account}
    </select>

    <select id="selectAll" resultType="com.sais.saisentity.User">
        select * from sais_user
    </select>

    <delete id="delete">
        delete from sais_user where id = #{id}
    </delete>

    <delete id="delAll" parameterType="java.util.ArrayList">
        delete from sais_user where id in
        <foreach item="id" collection="list" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

    <select id="lists" resultType="com.sais.saisentity.User">
        select * from sais_user order by id asc
    </select>

    <select id="listsLike" resultType="com.sais.saisentity.User">
        select *  from sais_user where account like CONCAT('%',#{keyword},'%') order by id asc
    </select>

    <update id="updateComment" >
        update sais_user set comment = #{comment} where account = #{account}
    </update>

    <select id="getPassword" resultType="string">
        select password from sais_user where account = #{account}
    </select>

    <update id="updateIP" >
        update sais_user set loginip = #{loginip} where account = #{account}
    </update>

    <update id="login" >
        update sais_user set loginip = #{loginip}, logintime=#{logintime} where account = #{account}
    </update>

    <insert id="register" >
        insert into sais_user (account, password,nickname,addtime) values (#{account},#{password},#{nickname},#{addtime})
    </insert>

    <update id="updateSetting" >
        update sais_user set sex = #{sex}, qq=#{qq} , email=#{email}, posts_num=#{posts_num}, follows_num=#{follows_num},
                             fans_num=#{fans_num}, phone=#{phone}, gpa=#{gpa}, sat=#{sat}, ielts=#{ielts}, toefl=#{toefl}
        where account = #{account}
    </update>

    <update id="changePassword" >
        update sais_user set password = #{password} where account = #{account}
    </update>

    <update id="updateAvatar" >
        update sais_user set avatar = #{avatar} where account = #{account}
    </update>

    <select id="selectIdFromAccount" resultType="INTEGER">
        select id from sais_user where account = #{account} limit 1
    </select>

    <select id="selectAvatarFromId" resultType="string">
        select avatar from sais_user where id = #{user_id} limit 1
    </select>

    <select id="selectNicknameFromId" resultType="string">
        select nickname from sais_user where id = #{user_id} limit 1
    </select>
</mapper>