<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header" style="padding: 25px 20px;">
                <div class="dropdown profile-element">
                    <span>
                        <img alt="image" class="img-circle" height="60px" src="__IMG__/profile_small.png" />
                    </span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="index.html">
                            <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">{$Think.session.admin_account}</strong>
                         </span>  <span class="text-muted text-xs block">后台管理员<b class="caret"></b></span> </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a href="{:url('admin/index/changePassword')}">修改密码</a></li>
                        <li class="divider"></li>
                        <li><a href="{:url('admin/login/logout')}">安全退出</a>
                        </li>
                    </ul>
                </div>
                <div class="logo-element">
                    WR
                </div>
            </li>
            <li class="active">
                <a href="#"><i class="fa fa-edit" style="width: 18px"></i> <span class="nav-label">管理</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li><a href="{:url('UserList/lists')}">用户管理</a></li>
                    <li><a href="{:url('SlideList/lists')}">幻灯片管理</a></li>
                    <li><a href="{:url('ComplainList/lists')}">投诉管理</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>




