<div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <ul class="nav navbar-top-links navbar-right">
            <li>
                <span class="m-r-sm text-muted welcome-message">
                    <a href="{:url('admin/user_list/lists')}" title="返回首页"><i class="fa fa-home"></i>欢迎使用WFT留学分析与管理系统后台</a>
                </span>
            </li>
            <li>
                <a href="{:url('admin/login/logout')}">
                    <i class="fa fa-sign-out"></i> 退出
                </a>
            </li>
        </ul>
    </nav>
</div>